<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Visan tunnus</mat-label>
      <input name="nimi"  matInput  maxlength="256" placeholder="Anna visan tunnus" [(ngModel)]="quizName">
    </mat-form-field>
  </form>

  <div style="text-align: center;">
  <button style="width:100%" mat-raised-button (click)="quizClick();">Avaa visa</button> 
<p><button style="width:100%" mat-raised-button (click)="editClick();">Luo/Muokkaa visaa</button> </p>
 <p><button style="width:100%" mat-raised-button (click)="scoreBoardClick();">Avaa visan pistetaulu</button></p>
  {{ errorText }}
  </div>

  
  