.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
    word-wrap: break-word;
  }

  .small {
    width:100%;
    cursor: zoom-in;
    border-radius: 3px;
  }


  figure {
    width:max-content;
  }

  
  .mat-dialog-content {
    padding: 2px;
  }