

<div *ngIf="dataService.questionsData && questionNumber <= dataService.questionsData.questions.length">

    <div style="display: flex; flex-direction: column; justify-content: center;">
    <h4><strong>{{ dataService.questionsData.title}}</strong></h4>
    <label id="example-radio-group-label">{{ questionNumber }}. {{ dataService.questionsData.questions[questionNumber-1].text }}</label>

    <div style="display:flex; border:1px; justify-content:space-between;">

        <div style="width:max-content" >
            <mat-radio-group [(ngModel)]="radioIndex" aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button (change)="radioChange($event.value)" class="example-radio-button" *ngFor="let option of dataService.questionsData.questions[questionNumber-1].options; index as i" [value]="i">
                <span style="white-space: normal;">{{option}}</span>
            </mat-radio-button>
            </mat-radio-group>
        </div>
    
    <div style="width:{{dataService.questionsData.questions[questionNumber-1].width/2}}px"  *ngIf="dataService.questionsData.questions[questionNumber-1].image != null && dataService.questionsData.questions[questionNumber-1].image!='' ">
        <br>
            <a (click)="openImage(questionNumber)">
            <img  src="https://tietovisa.s3.eu-north-1.amazonaws.com/{{this.quizName}}/{{dataService.questionsData.questions[questionNumber-1].image}}" class="small">
            </a>
    </div>

<!--    <div id="largeId" class="large">
        <div class="large-content"><a href="#"><img  src="https://tietovisa.s3.eu-north-1.amazonaws.com/{{this.quizName}}/{{dataService.questionsData.questions[questionNumber-1].image}}"></a></div>
    </div>-->

    </div>


    <br>
</div>

<div  style="display: inline" *ngIf="questionNumber < dataService.questionsData.questions.length"><p> <button style="width:100%" mat-raised-button (click)="navClick(1);">Seuraava</button></p></div>
<div  style="display: inline" *ngIf="questionNumber == dataService.questionsData.questions.length"><p><button style="width:100%" mat-raised-button (click)="navResults();">Siirry vastauksiin</button></p></div>
<div style="display: inline" *ngIf="questionNumber > 1"><p><button style="width:100%" mat-raised-button (click)="navClick(-1);">Edellinen</button></p></div>

</div>


<div style="justify-content: center; text-align: center; align-items: center;">
<div *ngIf="dataService.questionsData == null && !dataService.loadingQuiz">
    <br><br>
    {{ dataService.errorMsg }}
    <br>
    <button style="width:100%" mat-raised-button (click)="newQuizClick();">Luo uusi visa {{this.quizName}}</button>  
</div>
</div>
<div *ngIf="dataService.loadingQuiz" style="display:flex; justify-content: center;">
    <mat-spinner></mat-spinner>
</div>
