<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .inline { 
    display: inline; 
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 70px auto 32px;
    padding: 0 16px;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
  }


  a,
  a:visited,
  a:hover {
    color: #ffffff;
    text-decoration: none;
  }

  .author a,
  .author a:visited,
  .author a:hover {
    color: #042ea3;
    text-decoration: none;
  }


  a:hover {
    color: #007dfa;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  
  svg#oma {
    position:fixed;
    top:0px;
    left:auto;
    z-index: -10;
    width: 800px;
  }


</style>

<!-- Toolbar -->

<div class="toolbar"  role="banner">

  <a [routerLink]="['/']"><img alt="fff" [src]="'assets/images/icon.png'"/></a>
  <a [routerLink]="['/']"><span><h2>TIETOVISA</h2></span></a>
  
</div>

<div class="content" role="main">
  <svg id="oma" xmlns="http://www.w3.org/2000/svg" width="800" height="600" viewBox="0 0 800 600">
    <title>Gray Clouds Background</title>
    <rect opacity="undefined" stroke-dasharray="5,2,2,2" stroke-width="0" fill="#eae8e8" stroke="#000" x="34.00001" y="47.00002" width="299.99999" height="250.99998" id="svg_1"/>
    <path id="svg_4" d="m491.99994,258l223,0l0,281.99994l-223,0l0,-281.99994z" transform="rotate(90, 603.5, 399)" opacity="undefined" stroke-dasharray="5,2,2,2" stroke-width="0" stroke="#000" fill="#eae8e8"/>
    <path d="m395,61c2,0 3.15225,-0.76537 5,0c1.30655,0.54119 4.80243,3.43288 11,6c5.84314,2.4203 14.83551,5.994 24,7c4.97015,0.54559 10,0 11,0c2,0 5.13202,0.24468 9,-2c3.11847,-1.80972 6.01291,-2.83982 7,-3c3.12143,-0.50654 4.69345,-3.4588 6,-4c0.92389,-0.38268 3.62814,1.02945 19,6c15.69244,5.07421 28,4 33,4c2,0 1.97614,0.77998 6,5c4.97626,5.21888 9,5 12,7l6,1l3,2" id="svg_5" stroke-dasharray="5,2,2,2" stroke-width="0" stroke="#000" fill="none"/>
    <path stroke-width="0" id="svg_8" d="m150.00001,90l83.33333,0l0,0l124.99999,0l291.66665,0l0,151.10414l0,0l0,64.7589l0,43.1726l-291.66665,0l-207.52402,126.96438l82.52404,-126.96438l-83.33333,0l0,-43.1726l0,-64.7589l0,0l0,-151.10414z" stroke-dasharray="5,2,2,2" stroke="#000" fill="#e6eef2"/>
  </svg>
  <div style="width: 100%">
  <router-outlet></router-outlet>
  </div>
  <hr style="color:silver;border-top: 1px" width="100%">
  <div style="text-align: center;" class="author">
  <a (click)="infoDialog()" style="cursor :pointer">info</a>
  </div>
</div>

