

<div *ngIf="dataService.questionsData">
   <h4>Visa:<strong> {{ this.quizName }} </strong></h4>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Otsikko</mat-label>
      <input name="nimi" (change)="testChange()" matInput #message maxlength="256" placeholder="Kirjoita visalle lyhyt otsikko" [(ngModel)]="dataService.questionsData.title">
      <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
    </mat-form-field>
  </form>
  

<mat-accordion>
  <mat-expansion-panel  *ngFor="let question of dataService.questionsData.questions; index as x" (opened)="statePanel.value = '1'; selQuestion=x;" (closed)="statePanel.value = '0'">
    <input type="hidden" [value]="'0'" #statePanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
    
        <div *ngIf="question.text!=''">
        {{ (x+1) }}. {{ question.text }}
        </div>
        <div *ngIf="question.text=='' && statePanel.value=='0'" >
          {{ (x+1) }}. Muokkaa kysymystä tästä
          </div>
        <div *ngIf="question.text=='' && statePanel.value=='1'" >
            {{ (x+1) }}.
        </div>

      </mat-panel-title>
    </mat-expansion-panel-header>
    <textarea style="width:100%" [(ngModel)]="question.text" placeholder="Kirjoita kysymys">fff</textarea>

    <div style="display:flex; justify-content: center;">
    <div *ngIf="question.image!= null && question.image!='' " style="width:{{question.width/2}}px">
      <img style="width:100%" (click)="removeImage(x)" src="https://tietovisa.s3.eu-north-1.amazonaws.com/{{this.quizName}}/{{question.image}}">
    </div>
  </div>
    <!--Kuva: {{ question.image }}<br>-->
    <mat-radio-group [(ngModel)]="question.true" aria-labelledby="example-radio-group-label" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let option of question.options; index as i" [value]="i">
        <input size="20" [value]="question.options[i]" (change)="optionChanged($event,i,x)">
        <a  (click)="removeOption(i,x)">[Poista]</a>
      </mat-radio-button>
   </mat-radio-group>
   
  <!-- <input size="20" value="" #newOption> -->
   <button mat-raised-button style="width:70%"  (click)="addOption('',x);">Lisää vaihtoehto</button> 
   <button mat-raised-button style="width:30%"  (click)="removeQuestion(x)">Poista kysymys</button> 
  </mat-expansion-panel>
</mat-accordion>
<p>
    <button style="width:70%"  color="primary"  mat-raised-button (click)="addQuestion()">Lisää kysymys</button>
    <button style="width:30%" mat-raised-button (click)="openQuiz()"> Avaa visa </button>
  </p>

  <div *ngIf="uploadingImage">
    <mat-progress-bar mode="determinate" [value]="uploadingProgress"></mat-progress-bar>
  </div>

  <div *ngIf="!uploadingImage">
    <input type="file" accept="image/*" style="display: none" (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload">
      {{fileName || "Ei tiedostoa "}}
     <button mat-raised-button class="upload-btn" (click)="fileUpload.click()">Lisää kuva kysymykseen nro. {{selQuestion+1 }}</button>
    </div>
  </div>
  
<p><mat-checkbox class="example-margin" [(ngModel)]="dataService.questionsData.public">Visa näkyy etusivulla luettelossa</mat-checkbox></p>


<div *ngIf="!dataService.loadingQuiz">
  <hr style="color:silver;border-top: 1px" width="100%">
<button style="width:70%" color="primary" mat-raised-button (click)="dataService.updateQuestions(quizName)"><mat-icon>save</mat-icon> Tallenna visa</button>
<button style="width:30%"  mat-raised-button (click)="deleteQuestions()"> Poista visa</button>
<div *ngIf="!dataService.getLoggedIn()" style="display:flex; justify-content: center;">Kirjaudu etusivulla ennen visan luontia!</div>

<div style="text-align: center;">
<strong>{{ dataService.editErrorMsg }}</strong>
</div>
</div>
</div>
<p><button style="width:100%" mat-raised-button (click)="router.navigateByUrl('/');">Palaa etusivulle</button> </p>

<div style="display:flex; justify-content: center;">
<div *ngIf="dataService.loadingQuiz">
  <mat-spinner></mat-spinner>
</div>
</div>
